body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fafafa;
    color: #333;
}
.sidebar-item {
  cursor: pointer;
}

.sidebar-item.active {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.task-item:hover {
    background-color: #f5f5f5;
}

.checkbox {
    transition: all 0.2s ease;
}

.checkbox:checked+span {
    text-decoration: line-through;
    color: #aaa;
}


.sidebar-item.active {
  background-color: #e0f2fe; /* 淡藍底 */
  color: #0284c7; /* 深藍字 */
  font-weight: 600;
}
.sidebar-item.active svg {
  stroke: #0284c7;
}
